@import "componentes/header";
@import "componentes/index";
@import "componentes/menu";
@import "componentes/contacto";
@import "componentes/galeria";
@import "componentes/carrito";
@import "componentes/bseleccionada";
@import "componentes/footer";