/*HEADER*/
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  z-index: 2;
}
header .nav-header-1 {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
header .nav-header-1 ul {
  width: 80%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .nav-header-1 ul li .links {
  font-size: 0.8rem;
  font-family: "Neutra-Bold", sans-serif;
  font-weight: 800;
  color: black;
  text-decoration: none;
}
header .nav-header-1 ul li .links:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  color: black;
}

header .container-logo-header {
  width: 10%;
  display: flex;
  justify-content: center;
}
header .container-logo-header .logo-nav-footer {
  border-radius: 50%;
  width: 5em;
}

header .nav-header-2 {
  width: 45%;
  display: flex;
  justify-content: space-around;
}
header .nav-header-2 ul {
  width: 80%;
  padding: 0px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .nav-header-2 ul li .links {
  font-size: 0.8rem;
  font-family: "Neutra-Bold", sans-serif;
  font-weight: 800;
  color: black;
  text-decoration: none;
}
header .nav-header-2 ul li .links:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  color: black;
}

/*MENU*/
.container-titulo-menu{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom:5em;
}

.titulos-secciones-menu{
    width: 60%;
    text-align: center;
    font-size: 2rem;
    font-family:"Neutra-Bold", sans-serif;
    font-weight:800;    
    opacity: 0.8;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
}

#container-hamburguesas-menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5em;
}

.container-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    margin: 5px;
    width: 18em;
    transition: 1s;
}

.container-card:hover{
    transform: translateY(8px);
}

.titulo-card{
    font-size: 1.3rem;
}


/* CARRITO */
.container-hamburguesas-seleccionadas .container-card-seleccionada {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .section-general {
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 5em;
  }
  .section-general .container-hamburguesas-carrito {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-general .container-hamburguesas-carrito .container-titulo-carrito {
    margin-bottom: 5em;
    width: 60%;
    text-align: center;
  }
  .section-general .container-hamburguesas-carrito .container-titulo-carrito .titulos-secciones-carrito {
    padding-bottom: 2em;
    font-size: 2rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 800;
    opacity: 0.8;
    border-bottom: 2px solid black;
  }

  .section-general .container-hamburguesas-carrito .burger-elegidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    width: 30em;
    padding: 40px;
  }
  .section-general .container-hamburguesas-carrito .burger-elegidas .eliminar-burger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .section-general .container-hamburguesas-carrito .burger-elegidas .eliminar-burger .valortotal {
    padding: 0px;
    margin: 5px;
    font-size: 1rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 700;
  }
  .section-general .container-hamburguesas-carrito .burger-elegidas .eliminar-burger button {
    background-color: #fff;
    color: red;
    border: 1px solid red;
    border-radius: 2px;
    margin-left: 1em;
  }
  .section-general .container-hamburguesas-carrito .burger-elegidas .eliminar-burger button:hover {
    color: white;
    background-color: red;
  }
  .section-general .container-hamburguesas-carrito .burger-elegidas .valortotal {
    margin-top: 2em;
    font-size: 1.3rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 700;
  }
  .section-general .container-formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .section-general .container-formulario .container-titulo-formulario {
    margin-bottom: 5em;
    width: 60%;
    text-align: center;
  }
  .section-general .container-formulario .container-titulo-formulario .titulo-formulario {
    font-size: 2rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 800;
    opacity: 0.8;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
  }
  .section-general .container-formulario .formulario {
    box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 21px 4px rgba(0, 0, 0, 0.35);
    border-radius: 3px;
    width: 30em;
    padding: 40px;
  }
  .section-general .container-formulario .formulario .container-label-input {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  .section-general .container-formulario .formulario .container-label-input label {
    margin-bottom: 10px;
    font-size: 0.8rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 800;
  }
  .section-general .container-formulario .formulario .container-label-input p {
    font-size: 0.8rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 800;
  }

  /*FOOTER*/

  #footer {
    height: 10em;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.904);
  }
  #footer nav {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer nav #lista-footer {
    font-size: 0.8rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 800;
    list-style: none;
  }
  #footer nav #lista-footer li a i {
    margin-top: 10px;
    color: #fff;
    font-size: 1.8rem;
  }

  #footer .container-logo-footer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer .container-logo-footer .logo-nav-footer {
    border-radius: 50%;
  }
  #footer .container-parrafos-footer {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  #footer .container-parrafos-footer .parrafos-footer {
    color: #fff;
    font-size: 0.8rem;
    font-family: "Neutra-Bold", sans-serif;
    font-weight: 700;
  }
  #footer .container-parrafos-footer .fa-solid,
#footer .container-parrafos-footer .fa-location-dot {
  font-size: 1.2rem;
  margin-right: 2px;
}