/*@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

.container-titulo-seleccionada {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: $margen-entre-section;
  margin-bottom: $margen-entre-section;

  .titulo-seleccionada {
    width: 100%;
    text-align: center;
    @include titulos-subtitulos(2rem, ("Neutra-Bold", sans-serif), 800);
    opacity: 0.8;
    padding: 15px;
    @media screen and (max-width: 648px) {
      font-size: 25px;
    }
    @media screen and (max-width: 468px) {
      font-size: 20px;
    }
    @media screen and (max-width: 300px) {
      font-size: 15px;
    }
  }
  .nombre-seleccionada {
    @include titulos-subtitulos(1.2rem, (Geneva, Tahoma), 700);
    opacity: 0.7;
    @media screen and (max-width: 648px) {
      font-size: 20px;
    }
    @media screen and (max-width: 468px) {
      font-size: 15px;
    }
    @media screen and (max-width: 300px) {
      font-size: 10px;
    }
  }
}

.container-hamburguesas-seleccionadas {
  @include flexing(flex, center);
  margin-bottom: 2em;
  .container-card-seleccionada {
    width: 25em;
    @extend %estructura-cards;
    .container-inputs {
      display: flex;
      flex-direction: column;
    }

    @media screen and (max-width: 648px) {
      width: 20em;
    }
    @media screen and (max-width: 320px) {
      width: 15em;
    }
  }
  .container-valor-cantidad {
    @include flexing(flex, space-between);
    padding: 20px;

    .container-number {
      @include flexing(flex, flex-end);
      align-items: center;

      .input-number {
        width: 15%;
      }
    }
  }
}

.container-enlaces-rapidos {
  @include flexing(flex, center);
  margin-bottom: $margen-entre-section;
  .botones-menu-carrito {
    margin: 20px;
    @media screen and(max-width:468px) {
      font-size: 12px;
    }
    @media screen and(max-width:320px) {
      font-size: 10px;
    }
  }
}
*/