@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";

.section-general{
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top:$margen-entre-section;
  .container-hamburguesas-carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container-titulo-carrito{
      margin-bottom:$margen-entre-section;
      width: 60%;
      text-align: center;
      .titulos-secciones-carrito{
        padding-bottom: 2em;
        @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800); 
      opacity: 0.8;
      border-bottom: 2px solid black;
        @media screen and (max-width:468px) {
          font-size: 20px;
      }
      @media screen and (max-width:320px) {
          font-size: 15px;
          
      }
      }
    }
    .burger-elegidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
    -webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
    border-radius: 3px;
    width: 30em;
    padding: 40px;
    .eliminar-burger{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .valortotal{
        padding: 0px;
        margin: 5px;
        @include titulos-subtitulos(1rem,("Neutra-Bold", sans-serif),700); 
      }
      button{
        background-color: #fff;
        color: red;
        border: 1px solid red;
        border-radius: 2px;
        margin-left: 1em;

        &:hover{
          color: white;
          background-color: red;
        }
      }
    }
    .valortotal{
      margin-top: 2em;
      @include titulos-subtitulos(1.3rem,("Neutra-Bold", sans-serif),700); 
    }
    @media screen and (max-width:1048px) {
      width: 25em;
    }
    @media screen and (max-width:920px) {
      width: 22em;
    }
    @media screen and(max-width:820px) {
      width: 30em;
    }
    @media screen and (max-width:648px) {
      width: 20em;
    }  
    @media screen and (max-width:320px) {
      width: 15em;
    }  
    @media screen and (max-width:250px) {
      width: 12em;
    }  
    }
    
  }


.container-formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  .container-titulo-formulario{
    margin-bottom:$margen-entre-section;
    width: 60%;
    text-align: center;
    .titulo-formulario{
      @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800); 
      opacity: 0.8;
      padding-bottom: 2em;
      border-bottom: 2px solid black;
      @media screen and (max-width:468px) {
        font-size: 20px;
    }
    @media screen and (max-width:320px) {
        font-size: 15px;
        
    }
    }
    @media screen and (max-width:820px) {
      margin-top: $margen-entre-section;
    }
  }
  .formulario{
    box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
-webkit-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 21px 4px rgba(0,0,0,0.35);
    border-radius: 3px;
    width: 30em;
    padding: 40px;
    .container-label-input{
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      label{
        margin-bottom: 10px;
        @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
      }
      p{
        @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
      }
    }
    @media screen and (max-width:1048px) {
      width: 25em;
    }
    @media screen and (max-width:920px) {
      width: 22em;
    }
    @media screen and(max-width:820px) {
      width: 30em;
    }
    @media screen and (max-width:648px) {
      width: 20em;
    }  
    @media screen and (max-width:320px) {
      width: 15em;
    }  
    @media screen and (max-width:250px) {
      width: 12em;
    }  
    
  }
  }
  @media screen and (max-width:820px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.resumen-pedido{
  @include flexing(flex,space-between);
  position: sticky;
  bottom: 0px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.904);
  color: #fff;
  display: none;
  .valortotal{
    @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),700); 
    @media screen and(max-width:468px) {
      font-size: 12px;
      
    }
    @media screen and(max-width:320px) {
      font-size: 10px;
      
    }
  }
  @media screen and (max-width:820px) {
    display: flex;
    flex-direction: column;
    
  }
}