@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";



  
.container-titulo-carrito{
  @include flexing(flex,center);
  margin-top: $margen-entre-section;
  margin-bottom:$margen-entre-section;
  .titulos-secciones-carrito{
      width: 60%;
      text-align: center;
      @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800); 
      opacity: 0.8;
      padding-bottom: 2em;
      border-bottom: 2px solid black;
      @media screen and (max-width:468px) {
          font-size: 20px;
      }
      @media screen and (max-width:320px) {
          font-size: 15px;
          
      }
    }
}
  
  .container-hamburguesas-carrito{
    @include flexing(flex,center);  
    flex-wrap:wrap;
    margin-bottom: $margen-entre-section;
  .container-card-carrito{
    @extend %estructura-cards;
    margin: 5px;   
    width: 20em;

    .container-cuerpo-card-carrito{
      display: flex;
      flex-direction: column;
      .container-titulo-card-carrito{
        padding: 6px;
        .titulo-card-carrito{
          @include titulos-subtitulos(1rem,("Neutra-Bold", sans-serif),800); 
          text-align: center;
        @media screen and (max-width:320px) {
            font-size: 15px;
        }
        }
        .tipo-burger{
          text-align: center;
          @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
          padding: 2px;
          border: 2px solid black;
        @media screen and (max-width:320px) {
            font-size: 12px;
            
        }
        }
      }
      .agregar-quitar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 6px;
        .agregar{
          @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
          @media screen and (max-width:320px) {
            font-size: 12px;
            text-align: center;
            text-decoration:underline;
          }
        }
        .lista-agregar{
          padding: 0;
          text-align: start;
          list-style: $iconos-ul;
          @media screen and (max-width:468px) {
            font-size: 15px;
        }
          @media screen and (max-width:320px) {
            font-size: 11px;
            text-align: center;
          }    
        }
        .quitar{
          text-align: end;
          @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800);
          @media screen and (max-width:320px) {
            font-size: 12px;
            text-align: center;
            text-decoration:underline;
          }
        }
        .lista-quitar{
          text-align: end;
          list-style: $iconos-ul;
          @media screen and (max-width:468px) {
            font-size: 15px;
        }
          @media screen and (max-width:320px) {
            font-size: 11px;
            text-align: center;
            padding: 0;
          }  
        }
        @media screen and (max-width:320px) {
          display: flex;
          flex-direction: column;
        }
      }
      .container-cantidad-precio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
    .container-boton-eliminar{
      display: flex;
      justify-content: center;
      padding: 8px;
    }
  }
}


.container-formulario{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom:$margen-entre-section;
  .container-titulo-formulario{
    margin-bottom:$margen-entre-section;
    width: 60%;
    text-align: center;
    .titulo-formulario{
      @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800); 
      opacity: 0.8;
      padding-bottom: 2em;
      border-bottom: 2px solid black;
      @media screen and (max-width:468px) {
        font-size: 20px;
    }
    @media screen and (max-width:320px) {
        font-size: 15px;
        
    }
    }
  }
  .formulario{
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;
    width: 30em;
    padding: 40px;
    .container-label-input{
      margin-bottom: 40px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      label{
        margin-bottom: 10px;
        @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
      }
      p{
        @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
      }
    }  
    @media screen and (max-width:648px) {
      width: 20em;
    }  
    @media screen and (max-width:320px) {
      width: 15em;
    }  
    @media screen and (max-width:250px) {
      width: 12em;
    }  
  }
  }

.resumen-pedido{
  @include flexing(flex,space-between);
  position: sticky;
  bottom: 0px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.904);
  color: #fff;
  .valortotal{
    @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),700); 
    @media screen and(max-width:468px) {
      font-size: 12px;
      
    }
    @media screen and(max-width:320px) {
      font-size: 10px;
      
    }
  }
  @media screen and (max-width:820px) {
    display: flex;
    flex-direction: column;
  }
}
  