@import "../base/variables";
@import "../base/mixin";



  
#footer {
    height: 10em;
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.904);
    nav {
        #lista-footer{
            @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),800); 
            list-style: $iconos-ul;
            li{
                a{
                i{
                    margin-top: 10px;
                    color: #fff;
                    font-size: 1.8rem;

                    @media screen and (max-width:468px) {
                        font-size: 1.6rem;
                    }
        
                    @media screen and (max-width:300px) {
                        font-size: 1rem;
                    }
                    
                }
            }
            }
        }
    }
    .logo-nav-footer{
        border-radius: 50%;

        @media screen and (max-width:468px) {
            width: 3em;
        }
        @media screen and (max-width:300px) {
            width: 2em;
        }
    }
    .container-parrafos-footer {
        text-align: center;
        margin-left: 1em;
        .parrafos-footer {
            color: #fff;
            @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),700); 
            @media screen and (max-width:468px) {
                font-size: 0.6rem;
            }

            @media screen and (max-width:300px) {
                font-size: 0.4rem;
            }
          }
          
          .fa-solid,
         .fa-location-dot { 
            font-size: 1.2rem;
            margin-right: 2px;

            @media screen and (max-width:468px) {
                font-size: 0.8rem;
            }

            @media screen and (max-width:300px) {
                font-size: 0.6rem;
            }
        }
      }
  }
  
  
  
  
  
  