@import "../base/variables";
@import "../base/mixin";



header {
  background-image: url(../multimedia/imagenes/banner.png);
  height: 30em;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
      nav {
        padding: 20px;
        @include flexing(flex,center);
        
      ul{
        width: 80%;
        @include flexing(flex,space-around);
        align-items: center;
        list-style: $iconos-ul;
          li{
              .links{
                text-decoration: none;
                @include titulos-subtitulos(0.8rem,("Neutra-Bold", sans-serif),900); 
                color: white;
                padding-bottom: 5px;
                &:hover{
                    border-bottom: 2px solid white;                   
                }
                @media screen and (max-width:648px){
                  background-color: rgba(255, 255, 255, 0.41);
                  padding: 4px;
                  border-radius: 2px;
                  color: black;
                  &:hover{
                    border-bottom:none;                   
                }
                }
                @media screen and (max-width:468px) {
                  font-size: 0.6rem;
              }
            }
                .fa-solid {
                    color: white
                  }
                  .logo-nav-footer {
                    border-radius: 50%;
                    @media screen and (max-width:468px) {
                      width: 4em;
                  }
                  @media screen and (max-width:300px) {
                      width: 3em;
                  }
                } 
            }
            @media screen and (max-width:820px) {
              width: 100%;
            }
            @media screen and (max-width:648px){
              display: flex;
              flex-direction: column;
              padding: 20px;
            }
          }
          @media screen and (max-width:648px){
              height: 30em;
          }
          @media screen and (max-width:500px){
            height: 25em;
        }    
      }
      @media screen and (max-width:500px){
        height: 25em;
    }
    }
