@import "../base/variables";
@import "../base/mixin";

#section-abierto-cerrado{
  display: flex;
  justify-content: center;
  margin-top: 3em;
  .cerrado {
    @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800);     
    color: red;
  }
  .abierto {
    font-size: 2rem;
    @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800);     
    color: green;
  }
}


.menu-galeria{
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-right: 2em;
  margin-left: 2em;

  .menu-img1 {
    margin: 1em;
    width: 50%;
    height: 20em;
    @include flexing(flex,center);
    align-items: flex-end;
    animation: changeImg 20s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    @keyframes changeImg {
      0%{
        background-image: url(../multimedia/imagenes/bacon-menu.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      50%{
        background-image: url(../multimedia//imagenes/bacon\ ab.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
      100%{
        background-image: url(../multimedia/imagenes/bacon-menu.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    }
    @media screen and (max-width:648px){
      margin: 0px;
      width: 100%;
      height: 12em;
    } 
  }
  .menu-img2 {
    margin: 1em;
    width: 50%;
    height: 20em;
    background-image: url(../multimedia/imagenes/royale-inicio.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.84);

      
    @include flexing(flex,center);    
      align-items: flex-end;
    
      &:hover{
        animation: changeImg2 2s;
        animation-iteration-count: infinite;
        @keyframes changeImg2 {
            0%{
              background-image: url(../multimedia/imagenes/onion\ .png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            25%{
              background-image: url(../multimedia/imagenes/cheese.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            50%{
              background-image: url(../multimedia/imagenes/bg\ mc.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            100%{
              background-image: url(../multimedia/imagenes/royale-inicio.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            
        }
      }
      @media screen and (max-width:648px){
        margin: 0px;
        margin-top: 2em;
        width: 100%;
        height: 12em;
      } 
    }
    @media screen and (max-width:648px){
      margin-top: 4em;
      display: flex;
      flex-direction: column;
    }   
}

#nosotros {
    margin-top: $margen-entre-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;

    #logo-nosotros {
        border-radius: 50%;
      }

      #titulo-nosotros {
        margin-top: 15px;
        
      }
      .titulos-index {
        @include titulos-subtitulos(1.2rem,("Neutra-Bold", sans-serif),800); 
        @media screen and (max-width:468px) {
          font-size: 1rem;
        }
      }
      #parrafo-nosotros {
        display: flex;
        text-align: center;
        width: 50%;
        margin-top: 20px;
        @media screen and (max-width:500px){
          width: 80%;
        }
      }

}

.container-mapa {
    margin-top: $margen-entre-section;
    @include flexing(flex,center);
    flex-direction: column;
    align-items: center;

    .titulos-index {
      @include titulos-subtitulos(1.2rem,("Neutra-Bold", sans-serif),800); 
        @media screen and (max-width:468px) {
          font-size: 1rem;
        }
        @media screen and (max-width:300px) {
          font-size: 1rem;
        }

      }
      .mapa {
        width: 80%;
        height: 20em;
        margin: 25px;
      }
  }


  
  
  
  
  
  
  
  
  