@import "../base/variables";
@import "../base/mixin";




.menu-galeria{
    display: flex;
    flex-direction: row;

    .menu-img1 {
        width: 50%;
        height: 20em;
        @include flexing(flex,center);
        align-items: flex-end;
        animation: changeImg 20s;
        animation-iteration-count: infinite;
        animation-timing-function:ease-in-out;

        @keyframes changeImg {
            0%{
              background-image: url(../multimedia/imagenes/bacon-menu.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            50%{
              background-image: url(../multimedia//imagenes/bacon\ ab.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            100%{
              background-image: url(../multimedia/imagenes/bacon-menu.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
        }
        @media screen and (max-width:500px){
        width: 100%;
        height: 12em;
      } 
    }
    .menu-img2 {
        width: 50%;
        height: 20em;
        background-image: url(../multimedia/imagenes/royale-inicio.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      
        @include flexing(flex,center);    
        align-items: flex-end;
    
      &:hover{
        animation: changeImg2 2s;
        animation-iteration-count: infinite;
        @keyframes changeImg2 {
            0%{
              background-image: url(../multimedia/imagenes/onion\ .png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            25%{
              background-image: url(../multimedia/imagenes/cheese.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            50%{
              background-image: url(../multimedia/imagenes/bg\ mc.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            100%{
              background-image: url(../multimedia/imagenes/royale-inicio.png);
              background-repeat: no-repeat;
              background-position: 50% 50%;
              background-size: cover;
            }
            
          }
      }
      @media screen and (max-width:500px){
        width: 100%;
        height: 12em;
      } 
    }
    @media screen and (max-width:500px){
      display: flex;
      flex-direction: column;
    }   
}

#nosotros {
    margin-top: $margen-entre-section;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.8;

    #logo-nosotros {
        border-radius: 50%;
      }

      #titulo-nosotros {
        margin-top: 15px;
        
      }
      .titulos-index {
        @include titulos-subtitulos(1.2rem,("Neutra-Bold", sans-serif),800); 
        @media screen and (max-width:468px) {
          font-size: 1rem;
        }
      }
      #parrafo-nosotros {
        display: flex;
        text-align: center;
        width: 50%;
        margin-top: 20px;
        @media screen and (max-width:500px){
          width: 80%;
        }
      }

}

.container-mapa {
    margin-top: $margen-entre-section;
    @include flexing(flex,center);
    flex-direction: column;
    align-items: center;

    .titulos-index {
      @include titulos-subtitulos(1.2rem,("Neutra-Bold", sans-serif),800); 
        @media screen and (max-width:468px) {
          font-size: 1rem;
        }
        @media screen and (max-width:300px) {
          font-size: 1rem;
        }

      }
      .mapa {
        width: 80%;
        height: 20em;
        margin: 25px;
      }
  }


  
  
  
  
  
  
  
  
  