@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";



.container-titulo-menu{
    @include flexing(flex,center);
    margin-top: $margen-entre-section;
    margin-bottom:$margen-entre-section;

    .titulos-secciones-menu{
        width: 60%;
        text-align: center;
        @include titulos-subtitulos(2rem,("Neutra-Bold", sans-serif),800);     
        opacity: 0.8;
        padding-bottom: 2em;
        border-bottom: 2px solid black;
        
        @media screen and (max-width:468px) {
            font-size: 20px;
        }
        @media screen and (max-width:320px) {
            font-size: 15px;
            
        }
      }
}



.container-hamburguesas-menu{
    @include flexing (flex,center);
    flex-wrap: wrap;
    margin-bottom: $margen-entre-section;

    .container-card{
        @extend %estructura-cards;
        margin: 5px;
        width: 18em;
        transition: 1s;

        &:hover{
            transform: translateY(8px);
        }

        .card-body{
            .titulo-card{
                font-size: 1.3rem;
                
            }
        }
      }
}

.container-hamburguesas-seleccionadas {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    .container-card-seleccionada {
      width: 25em;
      
      @extend %estructura-cards;
      .container-inputs {
        display: flex;
        flex-direction: column;
      }
  
      @media screen and (max-width: 648px) {
        width: 20em;
      }
      @media screen and (max-width: 320px) {
        width: 15em;
      }
    }
    .container-valor-cantidad {
      @include flexing(flex, space-between);
      padding: 20px;
  
      .container-number {
        @include flexing(flex, flex-end);
        align-items: center;
  
        .input-number {
          width: 15%;
        }
      }
    }
  }
  
  .container-enlaces-rapidos {
    @include flexing(flex, center);
    .botones-menu-carrito {
      margin: 20px;
      @media screen and(max-width:468px) {
        font-size: 12px;
      }
      @media screen and(max-width:320px) {
        font-size: 10px;
      }
    }
  }

