@import "../base/variables";
@import "../base/extend";
@import "../base/mixin";



.container-hamburguesas-menu{
    @include flexing (flex,center);
    flex-wrap: wrap;
    margin-bottom: $margen-entre-section;
    .container-card{
        @extend %estructura-cards;
        margin: 10px;
        width: 18em;
        transition: 1s;
        &:hover{
            transform: translateY(8px);
        }

        .card-body{
            .titulo-card{
                font-size: 1.3rem;
                padding-bottom: 5px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.333);
            }
        }
      }
      @media screen and (max-width:648px) {
        margin-bottom: 0px;
      }
}

.container-hamburguesas-seleccionadas {
    display: flex;
    justify-content: center;
    margin-bottom: $margen-entre-section;
    .container-card-seleccionada {
      width: 25em;
      @extend %estructura-cards;
      padding: 1em;
        .header-card{
          display: flex;
          flex-direction: column;
          .container-enlaces-rapidos {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 1em;
            padding-bottom: 1em;
            border-bottom: 1px solid rgba(0, 0, 0, 0.146);
            .card-title{
              font-size: 1.5rem;
              @media screen and (max-width: 648px) {
                font-size: 1.2rem;
              }
            }
            div {
              display: flex;
              flex-direction: row;
              .volver{
                color:rgba(0, 0, 0, 0.271);
                text-decoration: none;
                &:hover{
                  color:rgb(0, 0, 0);
                  border-bottom: 1px solid black;
                }
                &:active{
                  border-bottom: 2px solid black;
                }
                @media screen and (max-width: 648px) {
                  font-size: 0.8rem;
                }
                @media screen and (max-width: 320px) {
                  margin: 0px;
                }
              }
              .carrito {
                margin-left: 1em;
                color:rgb(0, 0, 0);
                text-decoration: none;
                &:hover{
                  border-bottom: 1px solid black;
                }
                &:active{
                  border-bottom: 2px solid black;
                }
                @media screen and (max-width: 648px) {
                  font-size: 0.8rem;
                }
                @media screen and (max-width: 320px) {
                  margin: 0px;
                  margin-top: 2px;
                }
              }
              @media screen and (max-width: 320px) {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
            .div-title-largo{
              @media screen and (max-width: 648px) {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
          }
        }

      .container-inputs {
        display: flex;
        flex-direction: column;
        div {
          margin-top: 10px;
          .disabled-add-dec{
            display: none;
          }
          .add-dec {
            margin-left: 5px;   
            font-size: 0.8rem;
            background-color: white;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
            -webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
            -moz-box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
            &:active{
              box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
              -webkit-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
              -moz-box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.1);
          }
            @media screen and (max-width: 320px) {
              font-size: 0.6rem;
            }
          }
          .text-add-dec{
            margin-left: 3px;
            margin-right: 3px;
            font-size: 0.9rem;
            @media screen and (max-width: 320px) {
              font-size: 0.6rem;
            }
          }
          #mostrar-cerrado {
            color: red;
          }
        }
      }
    @media screen and (max-width: 648px) {
      width: 20em;
    }
    @media screen and (max-width: 320px) {
      width: 15em;
    }
    }
  } 

.confirmacion{
  position: fixed;
  text-align: center;
  z-index: 200;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 6px 6px rgba(0,0,0,0.1);
  @include titulos-subtitulos(1rem,("Neutra-Bold", sans-serif),800);
  @media screen and (max-width: 468px) {
   font-size: 0.8rem;
  }
  @media screen and (max-width: 364px) {
   font-size: 0.8rem;
   font-weight: 500;
  }
}